# 나도 코딩 7 - 파이썬 코딩 무료 강의 (기본편)
- https://youtu.be/kWiCuklohdY



---

# 함수

In [19]:
def open_account():
  print('새로운 계좌가 생성되었습니다.')

open_account()

새로운 계좌가 생성되었습니다.

In [20]:
# 입금
# balance : 잔액
# money : 입금금액
def deposit(balance, money):
  print('입금이 완료되었습니다. 잔액은{0}원입니다.'.format(balance + money))
  return balance + money

balance = 0 
balance = deposit(balance, 1000)
print(balance)

# 출금
def withdraw(balance, money):
  # 잔액이 출금보다 많으면
  if balance >= money :
    print('출금이 완료되었습니다. 잔액은{0}원입니다.'.format(balance-money))
    return balance - money

  else:
    print('출금이 완료되지 않았습니다. 잔액은{0}원입니다.'.format(balance))

# balance = 0
# balance = withdraw(balance, 2000)
# balance = withdraw(balance, 500)

# 저녁에 출금
def withdraw_night(balance, money):
  # 수수료 발생
  commission = 100
  return commission, balance - money - commission

commission, balance = withdraw_night(balance, 500)
print('수수료{0}원이며, 잔액은{1}원입니다.'.format(commission, balance))

입금이 완료되었습니다. 잔액은1000원입니다.
1000
수수료100원이며, 잔액은400원입니다.

## 기본값 설정

In [26]:
def profile(name, age, main_lang):
  print('이름 : {0},\t 나이 : {1},\t 주 사용언어: {2}'.format(name, age, main_lang))

profile('유재석', 20, '파이썬')
profile('나영석', 25, '자바')

print('-'*50)

# 같은학교 같은학년 같은반 같은 수업
# 이름만 다름
# 기본 값

def profile1(name, age=17, main_lang='파이썬'):
  print('이름 : {0},\t 나이 : {1},\t 주 사용언어: {2}'.format(name, age, main_lang))

profile1('유재석')
profile1('나영석')

이름 : 유재석,	 나이 : 20,	 주 사용언어: 파이썬
이름 : 나영석,	 나이 : 25,	 주 사용언어: 자바
--------------------------------------------------
이름 : 유재석,	 나이 : 17,	 주 사용언어: 파이썬
이름 : 나영석,	 나이 : 17,	 주 사용언어: 파이썬

## 키워드값

In [28]:
def profile(name, age, main_lang):
  print(name, age, main_lang)

# 순서가 뒤섞여있어도 위 설정한 대로 출력댐
profile(name='유재석', main_lang='파이썬', age=20)

유재석 20 파이썬

## 가변인자

In [36]:
def profile(name, age, lang1, lang2, lang3, lang4, lang5):
  print('이름 : {0},\t 나이 : {1},\t'.format(name, age), end = " ") # print문 끝날때 줄바꿈 x 
  print(lang1, lang2, lang3, lang4, lang5)

profile('유재석', 20, '파이썬', '자바', 'C', 'C++', 'C#')
profile('나영석', 25, 'Kotlin', 'Swift', '', '', '')

print('-'*50)

# 추가를 하거나 빈값에 ''여러개 넣을 수 잆음. 
# 그럴때 가변인자를 사용

def profile1(name, age, *language):
  print('이름 : {0},\t 나이 : {1},\t'.format(name, age), end = " ")
  for lang in language:
    print(lang, end = ' ')
  print()

profile1('유재석', 20, '파이썬', '자바', 'C', 'C++', 'C#', 'R')
profile1('나영석', 25, 'Kotlin', 'Swift')

이름 : 유재석,	 나이 : 20,	 파이썬 자바 C C++ C#
이름 : 나영석,	 나이 : 25,	 Kotlin Swift
--------------------------------------------------
이름 : 유재석,	 나이 : 20,	 파이썬 자바 C C++ C# R
이름 : 나영석,	 나이 : 25,	 Kotlin Swift

## 지역변수, 전역변수

In [40]:
# 총이 10자루 있다고 가정
gun = 10

# 근무 나가는 군인들이 챙겨 나가겠지?
def checkpoint(soldiers):
  # 전역 공간에 있는 gun = 10 을 사용
  global gun
  gun = gun - soldiers
  print('[함수 내] 남은 총 : {0}'.format(gun))

print('전체 총 : {0}'.format(gun))
checkpoint(2) # 2명이 근무
print('남은 총 : {0}'.format(gun))

전체 총 : 10
[함수 내] 남은 총 : 8
남은 총 : 8

In [42]:
# 총이 10자루 있다고 가정
gun = 10

def checkpoint_ret(gun, soldiers):
  gun = gun - soldiers
  print('[함수 내] 남은 총 : {0}'.format(gun))
  return gun

print('전체 총 : {0}'.format(gun))
gun = checkpoint_ret(gun, 2)
print('남은 총 : {0}'.format(gun))

전체 총 : 10
[함수 내] 남은 총 : 8
남은 총 : 8



---

## Q 표준 체중을 구하는 프로그램을 작성.
* 표준 체중 : 각 개인의 키에 적당한 체중

( 성별에 따른 공식)<br>
  남자 : 키(m) x 키(m) x 22
  여자 : 키(m) x 키(m) x 21


조건 1 : 포준 체중은 별도의 함수 내에서 계산
  - 함수명 : std_weight
  - 전달값 : 키(height), 성별(gender)
조건 2 : 표준 체중은 소수점 둘째자리까지 표시

(출력예)
키 175cm 남자의 표준 체중은 67.38kg입니다.

In [49]:
def std_weight(height, gender): # 키 m단위(실수), 성별 '남자'/'여자
  if gender == '남자':
    return height * height * 22
  else : # 여자
    return height * height * 21

height = 175 # cm단위
gender = '남자'
weight = round(std_weight(height/100, gender),2)

print('키 {0}cm {1}의 표준 체중은 {2}kg입니다.'.format(height, gender, weight))

키 175cm 남자의 표준 체중은 67.38kg입니다.